:root {
  --color-primary: #8576bf; // Violet_RN
  --color-primary-rgb: 133, 118, 191;
  --color-primary-light: #b6add9;
  --color-primary-dark: #57449e;
  --color-primary-contrast-text: #ffffff;

  --color-secondary: #fad000; // Yellow_RN
  --color-secondary-rgb: 250, 208, 0;
  --color-secondary-light: #fef6cc;
  --color-secondary-dark: #c3a300;
  --color-secondary-contrast-text: #393938;

  --color-bg: #f7f9fc;
  --color-bg-secondary: #393938;
  --color-bg-paper: #ffffff; // white
  --color-bg-blackout: rgba(200, 200, 200, 0.4);

  --color-backdrop: rgba(0, 0, 0, 0.4);

  --color-border: #c8c8c8;

  --color-text: #393938; // Light black_RN
  --color-text-secondary: #616164;
  --color-text-inverted: #ffffff;
  --color-placeholder: #c8c8c8;

  --color-disabled: #c8c8c8;
  --color-disabled-bg: rgba(200, 200, 200, 0.2);

  --color-info: #0060a0; // Link_RN
  --color-info-light: #03a9f4;
  --color-info-dark: #01579b;
  --color-info-contrast-text: #ffffff;

  --color-success: #70cc6f; // Green_RN
  --color-success-light: #aeead3;
  --color-success-dark: #349c75;
  --color-success-contrast-text: #ffffff;

  --color-warning: #f5a53c;
  --color-warning-light: #ffba61;
  --color-warning-dark: #df8511;
  --color-warning-contrast-text: #ffffff;

  --color-error: #fd4346; // Red_RN
  --color-error-light: #fa786e;
  --color-error-dark: #99160c;
  --color-error-contrast-text: #ffffff;

  --border: 1px solid var(--color-border);
  --shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  --transition-slide-height: 0; // Значение по умолчанию
}
